.header{
	font-size: 1.5em;
	text-align: center;
	margin: 15px 0px 15px 0px;
}

.obj{
	float: left;
	display: inline;	
}

.autoComplete {
	margin: 0px;
	width: 100%;
}

.drop{
	top:29px;
}

html, body {
	margin: 0px;
	height: 100%;
	background-color: rgb(222,222,222);
}

.ex1{
	background-color: rgb(164, 226, 195);
}

.ex2{
	background-color: rgb(205, 223, 124);
}

.ex3{
	background-color: rgb(224, 156, 115);
}